$acg-black-primary: mat-palette($mat-grey, 700, 300, 900);
$acg-black-accent: mat-palette($mat-blue-grey, 400);
$acg-black-warn: mat-palette($mat-red, 500);

$acg-black-theme: mat-dark-theme(
  $acg-black-primary,
  $acg-black-accent,
  $acg-black-warn
);
