$acg-primary: mat-palette($mat-indigo, 800, 300, 900);
$acg-accent: mat-palette($mat-light-blue);
$acg-warn: mat-palette($mat-pink, 600);

$acg-theme: mat-light-theme($acg-primary, $acg-accent, $acg-warn);
