$acg-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$acg-nature-accent: mat-palette($mat-deep-purple, 300);
$acg-nature-warn: mat-palette($mat-red, 600);

$acg-nature-theme: mat-light-theme(
  $acg-nature-primary,
  $acg-nature-accent,
  $acg-nature-warn
);
